In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sk

bike_daily = pd.read_csv('daily_weather.csv')
bike_master = pd.read_csv('bike_full.csv', dtype={5: str, 7: str})  # Convert both columns to strings

In [3]:
bike_master_clean = bike_master.copy()

# Convert datetime columns
bike_master_clean['started_at'] = pd.to_datetime(bike_master_clean['started_at'])
bike_master_clean['ended_at'] = pd.to_datetime(bike_master_clean['ended_at'])

# Convert category columns
category_columns = ['rideable_type', 'start_station_name', 'end_station_name', 'member_casual']
for col in category_columns:
    bike_master_clean[col] = bike_master_clean[col].astype('category')

# Convert string columns (IDs)
string_columns = ['ride_id', 'start_station_id', 'end_station_id']
for col in string_columns:
    bike_master_clean[col] = bike_master_clean[col].astype('string')

In [4]:
bike_master_clean.dtypes
bike_master_clean.head()
bike_master_clean.shape
null_percentages = (bike_master_clean.isnull().sum() / len(bike_master_clean)) * 100
bike_master_clean_no_nulls = bike_master_clean.dropna()
bike_master_clean_no_nulls.isnull().sum()

(10693997, 13)

In [5]:
# Print shape before removing nulls
print("Shape before removing nulls:", bike_master_clean.shape)

# Remove nulls and store in new DataFrame
bike_master_clean_no_nulls = bike_master_clean.dropna()

# Print shape after removing nulls
print("Shape after removing nulls:", bike_master_clean_no_nulls.shape)

# Calculate and print the difference
rows_removed = bike_master_clean.shape[0] - bike_master_clean_no_nulls.shape[0]
print(f"\nTotal rows removed: {rows_removed}")
print(f"Percentage of rows removed: {(rows_removed/bike_master_clean.shape[0]*100):.2f}%")

Shape before removing nulls: (10693997, 13)
Shape after removing nulls: (9572692, 13)

Total rows removed: 1121305
Percentage of rows removed: 10.49%

In [7]:
bike_new = bike_master_clean_no_nulls

In [8]:
bike_new.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member
6,0535306B61EF92F9,classic_bike,2021-01-01 00:19:06,2021-01-01 00:36:28,Bladensburg Rd & Benning Rd NE,31617.0,Good Hope Rd & MLK Ave SE,31802.0,38.900413,-76.982872,38.867373,-76.988039,casual